<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
        <title>Edit</title>
</head>

<body>
    <nav id="mainNavbar" class="navbar border navbar-dark bg-dark navbar-expand-sm py-0 fixed-top">
        <div class="container-fluid">
            <%- include('./header'); %>
                <div class="justify-content-end collapse navbar-collapse" id="navLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/items" class="nav-link">All Models</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>

    <main class="container-fluid py-5 text-center">
        <h1 class="m-5">Edit Bike Model</h1>

        <form action="/items/<%=item._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="name" class="form-label">Bike Model:</label>
                <input type="text" class="form-control mx-auto w-auto" name="name" id="name" placeholder="e.g. FX 3"
                    value="<%=item.name%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a model name.
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Bike Price:</label>
                <input type="number" class="form-control mx-auto w-auto" name="price" id="price" min="0" step=".01"
                    placeholder="e.g. 987.88" value="<%=item.price%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a price.
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Bike Category:</label>
                <select class="form-select mx-auto w-auto" name="category" id="category">
                    <% for(let category of categories){ %>
                        <option value="<%=category%>" <%=item.category===category ? 'selected' : '' %>><%=category%>
                        </option>
                        <% } %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary my-5">Submit</button>
            <a class="btn btn-outline-secondary my-5" href="/items/<%=item._id%>">Cancel</a>
        </form>
    </main>

    <footer>
        <%- include('./footer'); %>
    </footer>

    <%- include('./validator'); %>

</body>

</html>