<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
    <title>Edit</title>
</head>

<body>
    <h1>Edit Bike Model</h1>
    <form action="/items/<%=item._id%>?_method=PUT" method="POST">
        <label for="name">Bike Model</label>
        <input type="text" name="name" id="name" placeholder="e.g. FX 3" value="<%=item.name%>">
        <label for="price">Bike Price</label>
        <input type="number" name="price" id="price" min="0" step=".01" placeholder="e.g. 987.88" value="<%=item.price%>">
        <label for="category">Bike Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>" <%=item.category === category ? 'selected': '' %>><%=category%></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>

    <a href="/items/<%=item._id%>">Cancel</a>

    <footer>
        <%- include('./footer'); %>
    </footer>

</body>

</html>