<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
    <title>All Bikes</title>
</head>

<body>
    <nav id="mainNavbar" class="navbar border navbar-dark bg-dark navbar-expand-sm py-0 fixed-top">
        <div class="container-fluid">
            <%- include('./header'); %>
            <div class="justify-content-end collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <% if(category !== 'All') { %>
                            <a href="/items" class="nav-link">All Models</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <a href="/items/new" class="nav-link">Add New Model</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container-sm py-5 text-center">
        <h1 class="m-5"><%= category %> bikes models</h1>
        <ul class="list-group">
            <% for(let item of items) { %>
            <li><a class="list-group-item list-group-item-action list-group-item-light" href="/items/<%=item._id%>"><%= item.name %></a></li>
            <% }%>
        </ul>
    </main>


    <footer>
        <%- include('./footer'); %>
    </footer>

</body>

</html>