<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
    <title><%= item.name %></title>
</head>

<body>
    <h1><%= item.name %> </h1>
    <ul>
        <li>Price: $<%= item.price %> </li>
        <li>Category: <a href="/items?category=<%= item.category %>"><%= item.category %></a> </li>
    </ul>
    <a href="/items">All Bikes</a>
    <a href="/items/<%=item._id%>/edit">Edit Model</a>
    <form action="/items/<%=item._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <footer>
        <%- include('./footer'); %>
    </footer>

</body>

</html>
